// Smanjivanje alert box-a

.alert {
    margin-bottom: 1px;
    height: 25px;
    line-height:20px;
    padding:0px 10px;
  }


  /*! Navbar buttons effect*/
  .my-btn-blue {
    background-color: #0000;
    border: none;
    
    transition: 0.3s;
  }

  .my-btn-blue-active {
    background-color: #3490DC;
    border: none;
    
    transition: 0.3s;
  }
  
  .my-btn-blue:hover {
    background-color: #3490DC;
    color: white;
  }

  .my-btn-orange {
    background-color: #0000;
    border: none;
    
    transition: 0.3s;
  }

  .my-btn-orange-active {
    background-color: #FD6400;
    border: none;
    
    transition: 0.3s;
  }
  
  
  .my-btn-orange:hover {
    background-color: #FD6400;
    color: white;
  }
/*! End of Navbar buttons effect*/

/*! Custom loading spinner */

.cssload-container {
	width: 25%;
	height: 24px;
  text-align: center;
  margin-top: 5px;
    vertical-align:middle;
}

.cssload-speeding-wheel {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	border: 1px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
		-o-animation: cssload-spin 575ms infinite linear;
		-ms-animation: cssload-spin 575ms infinite linear;
		-webkit-animation: cssload-spin 575ms infinite linear;
		-moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*! End of Custom loading spinner */